/* css form */
.form-sign-in {
  flex: 1;
  /* width: 300px; */
  height: auto;
  margin: 100px 50px;
  padding: 20px;
  background: linear-gradient(120deg, #c3e7d0, #8fd3f4);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(212, 212, 212, 0.1);
  text-align: center;
}
.form-sign-in h1 {
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0;
}
.login-box input {
  width: 90%;
  padding: 15px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid gray;
}

.login-box > .login {
  font-size: 20px;
  width: 45%;
  padding: 10px;
  background: #37db31;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 25px;
}

.login-box button:hover {
  background: #0056b3;
}
.login-box > .login_nav {
  margin-top: 10px;
}
.login-box > .login_nav > a {
  color: #000;
  text-decoration: none;
}
/* .login-box > .login_nav > a:first-child {
  margin-right: 10px;
} */
.login-box > .login_nav > p {
  display: inline;
  margin-right: 10px;
}
.login-box > .login_nav > a {
  color: rgb(252, 89, 39);
}

/* css icon toggle */
.password-box {
  position: relative;
  margin-bottom: 20px;
}

.password-box > input {
  width: 90%;
  padding: 15px 20px;
  margin: 10px 0;
  border-radius: 20px;
}

.toggle {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 22px;
}
/* css container */
.container_login {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 1000px;
  height: 600px;
  display: flex; /* FLEX CHÃNH */
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.container_login > div {
  flex: 1;
}
.container_login > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
