/* Phần chung */
.course-section {
  background-color: #e5fafe;
}
#mamnon-course,
#mamnon-environment,
#mamnon-hero,
#mamnon-program,
#tieuhoc-hero,
#tieuhoc-program,
#tieuhoc-environment,
#tieuhoc-course {
  scroll-margin-top: 60px;
}
/* Phần mầm non */
/* Hero */
.hero {
  /* margin-top: 32px; */
  background-color: #f2e9a2;
  padding: 20px 0;
  /* border-radius: 15px; */
  max-width: 1200px;
}
.hero_inner {
  display: flex;
  justify-content: center;
  align-self: center;
}
.hero_image img {
  width: 350px;
  height: 300px;
  border-radius: 16px;
  margin-left: 10px;
  /* margin: 35px 0 0 15px; */
}
.hero_content h1 {
  font-size: 3rem;
  /* font-weight: 700; */
  text-align: center;
  margin: 20px 0 10px 0;
  line-height: 1;
}

.hero_content h2 {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

.hero_content p {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0 10px 0;
  line-height: 1.5;
  padding: 0 20px 0;
}

/* Program */
.program {
  position: relative;
  /* max-width: 1200px; */
  /* margin: 15px; */
}
.program_image {
  width: 100%;
  height: 420px;
  /* border-radius: 12px; */
  overflow: hidden;
}
.program_image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  /* border-radius: 15px; */
}
.program_content {
  position: absolute;
  top: 5%;
  bottom: 5%;
  right: 4%;
  width: 55%;
  padding: 40px;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  border-radius: 40px;
}
.program_content h2 {
  margin-bottom: 12px;
}
.program_content ul {
  padding-left: 20px;
}
.program_content h2 {
  font-size: 3rem;
  text-align: center;
}
.program_content p {
  font-size: 1.7rem;
  line-height: 1.5;
}
.program_content li {
  font-size: 1.7rem;
  line-height: 1.5;
}
/* Environment */
.environment {
  /* margin: 15px; */
  background: #f7eeee;
  padding: 5rem 0;
  /* border-radius: 15px; */
}
.environment_inner {
  /* max-width: 1200px; */
  /* margin: auto; */
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  text-align: center;
}

.environment_inner h2 {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.environment_item {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  transition: transform 0.2s ease;
  /* box-shadow 0.2s ease; */
}
.environment_item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}
.environment_item img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 15px;
}
.environment_item p {
  margin-top: 16px;
  font-size: 2.3rem;
}

/* Course */
.course {
  background-color: #f2e9a2;
  padding: 60px 0;
  /* border-radius: 20px; */
}
.course_inner {
  max-width: 1200px;
  margin: auto;
}
.course_inner h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}
.course_group {
  padding: 15px;
  /* margin-bottom: 60px; */
}
.course_group h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 32px;
}
.course_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.course_link {
  text-decoration: none;
  color: inherit;
}
.course_item,
.course_list article {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  /* transition:
    transform 0.5s ease,
    box-shadow 0.5s ease; */
}
.course_link {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.course_link:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.course_list img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 14px;
}
.course_list p {
  margin-top: 16px;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.4;
}

/* Side Bar */
.nav-sidebar-btn {
  display: block;
  font-size: 2rem;
  margin-bottom: 30px;
  cursor: pointer;
}
.course-sidebar li {
  font-size: 1.8rem;
  /* padding: 0 0 30px 15px; */
}
.course-sidebar {
  /* width: 280px; */
  position: sticky;
  top: 80px;
  align-self: flex-start;
  background-color: #d4eef3;
  width: 30%;
  height: calc(100vh - 80px);
  padding: 20px;
}
.child-course-list {
  margin-bottom: 10px;
}
.course-body {
  display: flex;
}
.subList {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}
.subList.show {
  max-height: 500px;
  opacity: 1;
}
.subList a:hover {
  color: rgb(252, 176, 77);
}
.subList a {
  display: block;
  padding: 0 0 30px 15px;
}
.nav-sidebar-btn.active-parent {
  font-weight: bold;
  color: orange;
}
.child-course h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Phần tiểu học */
