/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet and Mobile */
@media (max-width: 991.98px) {
  .header .navbar {
    display: none;
  }
  .header {
    position: relative;
  }
  .header .logo {
    position: absolute;
    left: 50%;
    translate: -50% 50%;
  }
  .menu-header__icon {
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 0;
  }
  .menu-overlay {
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    position: fixed;
    background-color: #f3fffe;
    inset: 0 55% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.4s;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer-list {
    padding: 0 20px 20px 20px;
    line-height: 2;
    font-size: 2rem;
  }
  .menu-drawer-list a {
    display: block;
  }
  .navbar-link:hover {
    background-color: #fffbcc;
    font-weight: 500;
  }
  .mobile-drawer-logo {
    background-image: url(../img/logo.png);
    height: 100px;
    object-fit: cover;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  .menu-drawer-iconclose {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 5px;
    border: 1px solid;
    border-radius: 50%;
    background-color: bisque;
    color: burlywood;
  }
  .why-us-body,
  .roadmap-body-2,
  .feedback-body {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  .why-us,
  .consult,
  .roadmap,
  .feedback {
    padding: 5rem 0;
  }
  .roadmap-body-1 {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: -50px;
    row-gap: 15px;
  }

  .why-us h3,
  .why-us h2,
  .roadmap h2 {
    line-height: 1.5;
  }
  .consult-img {
    display: none;
  }
  .footer-center,
  .footer-right {
    display: none;
  }
  .footer-name {
    line-height: 1.5;
  }
  .footer-info {
    font-size: 1.2rem;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Mobile */
@media (max-width: 767.98px) {
}
