/* Dùng chung */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "open sans", sans-serif;
  color: #263238;
}

a {
  text-decoration: none;
  color: #263238;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.color-chocolate {
  color: chocolate;
}
.color-green {
  color: #67a606;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}
.dis-none {
  display: none;
}
/* ---------------------------------------------------------------------------- */

/* Header */
.header {
  background-color: #e3f2fd;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  height: 8rem;
}
.header.fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-right {
  float: right;
}
.home-style {
  text-shadow: 0.4px 0 0 black;
  font-size: 1.9rem;
}
.header-body {
  display: flex;
  align-items: center;
}

.header-body .logo {
  background-image: url("../img/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20rem;
  height: 8rem;
}

.header-body nav {
  flex-grow: 4;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
}

nav a {
  font-size: 1.8rem;
  padding: 1.6rem;
}

nav a:hover {
  text-shadow: 0.4px 0 0 currentColor;
}
/* ---------------------------------------------------------------------------- */
/* Footer */
.footer {
  background-color: #f3fffe;
  padding: 1rem 0 2rem;
}

.footer-logo img {
  width: 20rem;
  object-fit: cover;
  height: 8rem;
  margin-left: -35px;
}

.footer-body {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.footer-name {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer-info {
  line-height: 1.7;
  font-style: italic;
}

.footer-icon {
  margin-right: 8px;
}
/* ------------------------------------------------------------------------------- */
.btn-contact {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  /* animation: shakePause 2.5s infinite; */
}
.btn-contact i {
  animation: wiggle 0.6s infinite;
  font-size: 3em;
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
}
