/* Hero */
.hero img {
  width: -webkit-fill-available;
}
/* ---------------------------------------------------------------------------------------- */
/* Why-us */
.why-us {
  padding: 7rem 0;
}

.why-us-body {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.why-us-reason {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  transition: 0.3s;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-us-reason:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.why-us h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.why-us h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.why-us-img img {
  /* width: 100%; */
  object-fit: cover;
  width: 31rem;
  height: 35rem;
  border-radius: 20px;
}
/*----------------------------------------------------------------------------------------- */
/* Roadmap */

.roadmap {
  padding: 7rem 0;
  background-color: #ccfcff;
}

.roadmap-body-1,
.roadmap-body-2 {
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
}

.roadmap-body-2 {
  margin-top: 9rem;
}

.roadmap h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.road-inf p {
  font-size: 1.7rem;
  line-height: 1.8;
  justify-content: justify;
}
.roadmap-img img {
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
/*----------------------------------------------------------------------------------------- */
/* Feedback */
.feedback {
  padding: 7rem 0;
}

.feedback-body {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.feedback-item {
  width: 100%;
}

.feedback h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.feedback-name {
  margin-top: 2rem;
  font-weight: 700;
}

.feedback-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-img img {
  width: 31rem;
  height: 31rem;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-inf p {
  font-size: 1.7rem;
  line-height: 1.8;
  text-align: center;
  font-style: italic;
}
/* -------------------------------------------------------------------------------   */
/* Consult */
.consult {
  padding: 7rem 0;
  background-color: #fffbcc;
}
.consult-body {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

.consult-img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consult-body h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.consult-img img {
  width: 45rem;
  height: 45rem;
  object-fit: cover;
  border-radius: 20%;
}

.consult-form {
  flex-grow: 2;
}

.form-label {
  display: block;
  margin: 20px 0;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 2px solid #fbf4a9;
}

.form-input:focus {
  outline: none;
  border: 2px solid #fdd835;
  box-shadow: 0 0 0 4px rgba(253, 216, 53, 0.25);
  transition: 0.25s;
}

.form-submit {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  font-size: 1.8rem;
  background-color: #ffab00;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.form-submit:hover {
  transform: translateY(-5px);
  background-color: #fff01e;
  color: #000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.checkbox-item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox-item input {
  display: none;
}

.custom-box {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 2px solid #ccc;
  background: #fff;
  position: relative;
  transition: 0.25s;
}

.custom-box::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox-item input:checked + .custom-box {
  background: #fdd835;
  border-color: #fbc02d;
}

.checkbox-item input:checked + .custom-box::after {
  opacity: 1;
}

.checkbox-item:hover .custom-box {
  box-shadow: 0 0 0 3px rgba(253, 216, 53, 0.25);
  border-color: #fbc02d;
}

/* ---------------------------------------------------------------------------------------- */
/* FAQ Section */
.faq-section {
  padding: 7rem 0;
}

.faq-title {
  text-align: center;
  color: #e53935;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.faq-item {
  border-bottom: 1px solid #000;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 20px 0;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question .icon {
  font-size: 25px;
  transition: 0.3s;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-answer p {
  margin-top: -4px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}

/* Active */
.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .icon {
  transform: rotate(45deg);
  transition: 0.3s;
}
/* ---------------------------------------------------------------------------------------- */
